PORT=8080
NODE_ENV=development

# for local
DATABASE_URL="mysql://username:your_real_password_here@localhost:3306/weatherdb"
DATABASE_USER=username
DATABASE_PASSWORD=your_real_password
DATABASE_NAME=weatherdb
DATABASE_HOST=localhost
DATABASE_PORT=3306

# for docker
# DB_USER=app
# DB_PASSWORD=app
# DB_NAME=weatherdb
# DB_HOST=db
# DB_PORT=3306
